

body {
    margin: 0;
    font-family: "Bitcount Ink";
    color: white;
}

.login-page-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* justify-self: center; */
    align-items: center;
    position: absolute;
    top: 0;
    z-index: -100;
}

.login-page-content input {
    display: block;
    justify-self: center;
    padding: 3px;
    margin: 10px;
}

.main-page {
    background-image: url("wp4546018-mountain-moon-nightscape-wallpapers.jpg");
    background-size: 100%;
    margin: 0;
}

.login-page {

     /* background-image: url("background.webp"); */
     background-repeat: no-repeat;
    display: grid;
     
}

.login-page-input {
}

.login-image {
    height: 100vh;
    width: 37vw;
    object-fit: cover;
    
    user-select: none;
}

header {
    background-color: crimson;
}

.header-paragraph {
    margin: 0%;
    padding: 10px;
}

.Navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    
}

.Navbar ul {
    display: flex;
    justify-content: right;
    margin: 0px;
    list-style: none;
    /* color: azure; */
    
}
.Navbar ul li {
    padding: 10px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none
    
}

a:visited {
    color: white;

}

.registrering-och-loggin-text {
    color: black;
    text-align: center;
}

